.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: #D6E4F0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #D6E4F0;
  }
  
  .button img {
    width: 30px;
    height: 30px;
  }
  
  .button span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
  }
